.programmes-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
}

.main-title {
  font-size: 2.5rem;
  color:#3C3D37;  
  text-align: center;
  margin-bottom: 2rem;
}

.programmes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

.programme-item {
  display: flex;
  flex-direction: column;
}

.programme-image {
  width: 100%;
  height: auto;
  max-width: 100%; 
  margin-bottom: 1rem;
}

.programme-content {
  padding: 0;
  text-align:start;
  font-family: "Montserrat", sans-serif;
}

.programme-title {
  font-size: 1.5rem;
  color:#3C3D37;  
  margin: 0.5rem 0;
  line-height:1.4em;
}

.programme-description {
  font-size: 100%;
  color: #333;
  margin: 0.5rem 0 1rem 0;
  line-height: 1.5;
 
}


/* Large Screen Styles */
@media (min-width: 992px) {
  .programmes-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .programme-item {
    align-items: center;
    text-align: center;
  }

  .programme-title {
    font-size: 1.7rem;
    font-weight:700;
    font-size:20px;
  }

  .programme-description {
    font-size: 1rem;
    line-height:1.65rem;
  }
}

/* Small Screen Styles */
@media (max-width: 768px) {
  .programmes-grid {
    grid-template-columns: 1fr; /* 1-column layout */
  }

  .programme-item {
    text-align: left;
  }

  .programme-image {
    width: 100%;
    height: auto;
  }

  .programme-title {
    font-size: 16px;
  }

  .programme-description {
    font-size: 1rem;
  }

  .main-title {
    font-size: 2rem;
  }
}
